<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand mr-6" style="font-family: 'Pacifico', cursive; font-size:30px;" href="/">Awwards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle" style="font-family: 'Pacifico', cursive; font-size:30px;">
      <a class="" href="/"><i class="fa fa-trophy" style="font-size:36px; color: black;"></i></a>
    </div>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
      <input style="border-radius: 70px;" class="form-control mr-sm-2" type="search" name="username"
        placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fa fa-search"></i>
      </button>
    </form>
    <div class="collapse navbar-collapse" id="navbarNav" style="font-family: 'Pacifico', cursive; font-size:30px;">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li> <a style="color: black;" class="nav-item nav-link" href="{% url 'post_edit' %}">PostProject</a>
        </li>
        <hr>
        <li>
          <a class="nav-link open-nav" href="{% url 'profile' %}"><i class="fa fa-user"
              style="font-size:30px;color:black">{{user}}</i></a>
        </li>
        <hr>
        <li>
          <a style="color: black;" class="nav-item nav-link" href="{% url 'logout' %}?next={% url 'login' %}">Logout</a>
          {% else %}
          <a style="color: black;" class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>