{% extends "all/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div style=" background-image: url(/static/img/1.png); width:100%; height:400px">
        </div>
        <div class="row container-fluid m-4" style="text-align: center;">
            <div class="card-group">
                <div class="col-md-4">
                    {% if object.image %}
                    <h1>{{ object.title }}</h1>
                    <img class="img-responsive" width="300" height="200" src="{{ object.image.url }}" alt="Image">
                    {% endif %}
                    <p>{{ object.description }}</p>
                    <a class="btn btn-info" target="_blank" href="/"><strong>View more</strong></a>
                    <p>By {{ object.user }}</p>
                    <small>{{ object.date_post|date:"F d, Y" }}</small>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}