{% extends 'all/base.html' %} {% load static %} {% load bootstrap4 %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img class="rounded-circle account-profile " src="{{ user.profile.image.url }}" alt="user" height="200px"
                width="200px">
            <div class="media-container">
                <h2 class="account-header">Name: {{user.username}}</h2>
                <p class="text-info">Email: {{user.email}}</p>
            </div>
            <p class="ml-3">Bio: {{user.profile.bio}}</p>
            <a class="btn btn-info" href="{% url 'update' %}">Update Profile</a>
        </div>
        <hr>
        {% for post in projects %}
        <div class="col-md-4" style="margin-bottom:25px;">
            <div class="card">
                <div class="card-header">
                    <h2 style="font-weight:bold;" class="text-center"><strong> {{post.title}}</strong></h2>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="{{post.image.url}}" alt="{{post.title}}" height="200px"
                        width="200px">
                    <p style="font-weight:bold;" class="text-center"><strong>{{post.description}}</strong> </p>
                    <p style="font-weight:bold;" class="text-center"><strong><i>Technologies used:
                                {{post.technologies}}</i></strong> </p>
                    <p style="font-weight:bold;" class="text-center"><strong>Posted on: {{post.post_date|date:"d/m/Y"}}</strong> </p>
                    <p> {{post.ratings}} </p>
                    <small class="text-muted ml-2"><img src="{{ post.user.profile.image.url }}" alt=""
                            class="rounded-circle img-fluid mr-1" style="width: 30px;">
                        <strong>posted By: {{post.user|upper}}</strong></small>
                </div>
                <div class="card-footer" style="text-align: center;">
                    <button class="btn"
                        style=" border-radius: 5em; background-color: #49c5b6; border:none; padding: 2px; height:40px; width: 200px;"><a
                            target="_blank" style="color: white; text-decoration:none;"
                            href="{{post.link}}"><strong>View
                                Project</strong></a></button>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</div>
{% endblock %}